<nav class="navbar navbar-light" style="background-color: rgb(97, 186, 64);">
    <form class="container-fluid justify-content-start">
        <!-- <h5>Keyboard Part Picker</h5> -->
        <a class="navbar-brand" href="#" onclick="window.location.href='{{ url_for('views.home') }}'">
            <!-- <img  alt="" width="30" height="24" -->
            <!-- class="d-inline-block align-text-top" "> -->
            Tutor Bridge
        </a>
        <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
            onclick="window.location.href='{{ url_for('views.bulid_guide')}}'">Build Guide
        </button>
        <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
            onclick="window.location.href=' {{ url_for('views.current_bulid') }}'">Current Build
        </button>
        <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
            onclick="window.location.href='{{url_for('views.team_member')}}'">Team Members
        </button>
        
    </form>
</nav>